- step:
    name: Train model
    image: busybox
    command:
      - date
    outputs:
      - name: model

- step:
    name: Cleanup
    image: busybox
    command:
      - date
    parameters:
      - name: what_was_deployed
        type: string
      - name: version_id
        type: string

- endpoint:
    name: predict-digit
    description: predict digits from image inputs
    image: tensorflow/tensorflow:1.13.1-py3
    wsgi: predict_wsgi:predict_wsgi
    files:
      - name: model
        description: Model output file
        path: model.pb

- pipeline:
    name: Deployment edge pipeline
    nodes:
      - name: Train
        type: execution
        step: Train model
      - name: Deploy
        type: deployment
        deployment: MyDeployment
        endpoints:
          - predict-digit
      - name: Cleanup
        type: execution
        step: Cleanup
    edges:
      - [Train.output.model, Deploy.file.predict-digit.model]
      - [Deploy.deployment.id, Cleanup.parameter.what_was_deployed]
      - [Deploy.deployment.version_id, Cleanup.parameter.version_id]
